body {
    background-color: #F0F0D8;
}

.one {
    color: indianred;
}

.two{
    text-align: center;
}

a {
    text-decoration: none;
    color: #0499ff;
}

a:hover {
    color: #6633ff;
}

.tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:  #f1f1f1; 
    align-items: center;
}

.table > div {
    background-color: #f1f1f1; 
    margin: 10px;
    padding: 20px;
    font-size: 30px;    
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .flex-container > div {
    background-color: #f1f1f1; 
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} 

table {
    background-color: #FBF7F1;
    color:rgb(43, 91, 108);
}


/*####################################################################################################################*/
/*############################################### MEDIA QUERIES ######################################################*/
/*###################### XS devices < 575, default, no MQ #######################*/

/*#########################################################################*/
/*########### Small devices 576px - 767px width ##########################*/

@media screen and (min-width: 576px) {
    body {
      background-color: blue;
    }
    .flex-container {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /*##########################*/
    /* show current MQ setting */
    .MQ_viewport::after {
      content: "Small devices 576px - 767px width";
    }
    /* show current MQ setting */
    /*########################*/


      /*#########################*/
     /*  hide image in this MQ  */
      .Persona {
         display: none;
      }
      /* hide image in this MQ  */
     /*########################*/

  }
/*############################# Small devices ##############################*/
/*#########################################################################*/