body {
    background-color: #F0F0D8;
}

.one {
    color: indianred;
}

.two{
    text-align: center;
}

a {
    text-decoration: none;
    color: #0499ff;
}

a:hover {
    color: #6633ff;
}

.tables {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:  #f1f1f1; 
    align-items: center;
}

.table > div {
    background-color: #f1f1f1; 
    margin: 10px;
    padding: 20px;
    font-size: 30px;    
}


table, th, td {
  border: 1px solid darkslategray;
  border-style:dotted;
}

/* .flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .flex-container > div {
    background-color: #f1f1f1; 
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}  */

table {
    background-color: #FBF7F1;
    color:rgb(43, 91, 108);
}


/*####################################################################################################################*/
/*############################################### MEDIA QUERIES ######################################################*/
/*###################### XS devices < 575, default, no MQ #######################*/
/* @media screen and (min-width: 280px) {
    body {
      background-color: slategray;
    } */
/*#########################################################################*/
/*########### Small devices 576px - 767px width ##########################*/

@media screen and (min-width: 576px) {
    body {
      background-color: blue;
    }
    .tables {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /*##########################*/
    /* show current MQ setting */
    .MQ_viewport::after {
      content: "Small devices 576px - 767px width";
    }
    /* show current MQ setting */
    /*########################*/


      /*#########################*/
     /*  hide image in this MQ  */
      .Persona {
         display: none;
      }
      /* hide image in this MQ  */
     /*########################*/

  }
/*############################# Small devices ##############################*/
/*#########################################################################*/

/*#########################################################################*/
/*################ Medium devices 768px - 991px width ####################*/

@media screen and (min-width: 768px) {
    body {
      background-color: green;
    }
    .tables {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    /*##########################*/
    /* show current MQ setting */
    .MQ_viewport::after {
        content: "Medium devices 768px - 991px width";
      }
    /* show current MQ setting */
    /*########################*/


      /*#########################*/
     /*  hide image in this MQ  */
      .Persona {
         display: none;
      }
      /* hide image in this MQ  */
     /*########################*/

  }
/*############################# Medium devices #############################*/
/*#########################################################################*/
/*###################### Large 992px - 1199px width ######################*/
@media screen and (min-width: 992px) {
    body {
      background-color: yellow;
    }
    .tables {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
      /*##########################*/
      /* show current MQ setting */
      .MQ_viewport::after {
        content: "Large 992px - 1199px width";
      }
      /* show current MQ setting */
      /*########################*/

      
      /*##########################*/
      /* set up image in this MQ */
      .Persona {
        display: none;
      } 
      /* set up image in this MQ */
      /*########################*/
  }
/*############################# Large devices ################################*/
/*###########################################################################*/
/*################# Extra Large 1200px width and above #####################*/
@media screen and (min-width: 1200px) {
    body {
      background-color: red;
    }
    .tables {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
      /*##########################*/
      /* show current MQ setting */
      .MQ_viewport::after {
        content: "Extra Large 1200px width and above";
      }
      /* show current MQ setting */
      /*########################*/
      
      /*##########################*/
      /* set up image in this MQ */
      .Persona {
        display: none;
      } 
      /* set up image in this MQ */
      /*########################*/
  }
/*################# Extra Large #####################*/
/*############################################### MEDIA QUERIES ######################################################*/
  /*####################################################################################################################*/